<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="javascripts/jquery-1.11.1.js"></script>
  <script src="javascripts/jquery-ui-1-10-4.custom.js"></script>
</head>
<body>

<%= simple_form_for(@project, html: {:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div><%= f.label :title, label: "Title of project" %><br />
  <%= f.text_field :title, autofocus: true %></div>

  <div><%= f.label :client %><br />
  <%= f.text_field :client, autofocus: true %></div>

  <div><%= f.label :deadline %><br />
  <%= f.date_field :deadline, autofocus: true %></div>  

  <div><%= f.label :brief %><br /> 
  <%= f.text_area :brief, :cols => "80", :rows => "10" %></div>

  <div><%= f.label :sidenotes %><br />
  <%= f.text_area :sidenotes, :cols => "80", :rows => "6" %></div>

  <div class"form-actions">
    <%= f.submit "Create Project", class: "btn btn-primary" %>
</div>
<% end %> 



<!-- need deadline -->




 
