<%= simple_form_for(@image, url: project_images_path(@project.id), html: {:multipart => true}) do |f| %>
  <%= f.error_notification %>

    <%= f.input :title, label: "Enter a title" %>
    <%= f.input :notes, as: :text, input_html: { rows: "2" } %>
    <p>
    	<%= f.file_field :source, :accept => "image/gif, image/jpeg, image/svg, image/jpg, image/png", required: :required %>
    </p>
	<p>
		<%= f.label :remote_source_url, "or URL" %>
		<%= f.text_field :remote_source_url %>
	</p>
	<div class="form-actions">
		<%= f.button :submit, class: "btn btn-primary" %>
	</div>
<% end %>


