
<div class="box">
	<%= image_tag image.source %>
	<p class="description">
		<%= image.title %>
	</p>
	<%= link_to 'Generate Colour Palette', image %>
		<% if current_user == image.user %>
			<p>
				<%= link_to 'Edit', edit_image_path(image) %>
				<%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
			</p>
	<% end %>
</div>