<tr>
	<td><%= image.image %></td>
	<td><%= image.title %></td>
	<td><%= image.notes %></td>
	<td><%= link_to 'Show', image %></td>
	<td><%= link_to 'Edit', edit_image_path(image) %></td>
	<td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>