<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
			  <strong>Image:</strong>
			  <%= @image.image %>
			</p>
			<p>
				<strong>Title:</strong>
				<%= @image.title %>
			</p>

			<p>
				<strong>Notes:</strong>
				<%= @image.notes %>
			</p>

				<%= link_to 'Edit', edit_image_path(@image) %> |
				<%= link_to 'Back', images_path %>
		</div>
	</div>
</div>


